
name: Generate SBOM
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate-sbom:
    runs-on: ubuntu-latest
    environment: playground
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy in GitHub SBOM mode and submit results to Dependency Graph
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: 'fs'
          format: 'cyclonedx'
          output: 'dependency-results.sbom.json'
          scan-ref: '.'
          github-pat: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload SBOM to Dependency-Track
        run: |
          curl -L -vX POST https://dtrack.datatactics.dev/api/v1/bom \
            -H 'Content-Type: multipart/form-data' \
            -H "X-API-Key: ${{ secrets.DTRACK_API_KEY }}" \
            -F "autoCreate=true" \
            -F "projectName=${IMAGE}" \
            -F "projectVersion=${TAG}" \
            -F "parentUUID=${PARENTUUID}" \
            -F "bom=@dependency-results.sbom.json"
        env:
          IMAGE: 'dt/playground'
          TAG: '${{ github.run_number }}'
          PARENTUUID: ${{ secrets.PARENT_UUID }}
